<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body bgcolor="pink">
	<div style ="bgcolor:black padding=20px">

<p>Welcome! <span style= "color:blue">friends </span></p>
	<form> 
	<input type=text value=name>
	<br>
	<input type=password value=secretcode>
	<br>
	<input type=radio name=type value="user">
	user
	<br>
	<input type=radio name=type value=admin>
	admin
	<br>
	<input type=submit value=submit>
	<br>
	</form>
	<h1>This is a Login page </h1>
	
	<p>You can use this page to enter your user name answer and password of your user account. it will take you to your account information. Hope you are having a great time thank You</p>
   <p>For guest user, please fill in the following details</p>
</div>
<div style="color:brown">
   <h1>GuestUser</h1>
   <h2>Sign in please</h2>
   <form>
   Name			:<input type=text> <br>
   Age			 :<input type=Number> <br>
   create password :<input type=text><br>
   Retype password :<input type=text><br>
   <h3>feedback</h3>
   <textarea name=comment></textarea>
   </form>
	</div>
	</body>
</html>